<div id="banner-top">
    <div class="overlay"></div>
    <div class="image">
        <img src="{{asset('bundles/frontend/img/sevilla-banner-top.jpg')}}">
    </div>
    <div class="container clearfix">
        <div class="row">
            <div class="text">
                <h1 class="h1">
                    {{ "Tu tienda en las mejores ubicaciones"|trans }}
                </h1>
                <h2 class="h2">
                    {{"Alquila espacios comerciales para tiendas eventuales" | trans }}
                </h2>
                <div class="link">
                    <a class="btn btn-large btn-green" href="">
                        {{ "Regístrate gratis"|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>